$primary: #84BCDA;
$secondary: #020887;
$main-font: 'Ubuntu', sans-serif;


.account-header {
  background-color: $primary;
  color: $secondary;
  font-family: $main-font;
  font-size: 60px;
}
.login-header {
  font-family: $main-font;
  background-color: $primary; 
  padding: 10px;
  margin: 5px;
}
.submit-button {
  background-color: $secondary;
}
.title-text {
  color: $secondary;
}

.instructions-card {
  width: 75%;
  margin: auto;
  padding: 0;
}


